<!DOCTYPE html>
<html lang="en">
<head>
   <meta charset="UTF-8" />
   <title>Contact</title>
    <link rel="stylesheet" href="css/site.css" type="text/css" />
</head>
<body>
    <div class="header">
	<header>
        <div class="container">
			<div class="row">
				<div class="col-md-12">
                    <img class="circularimg" src="/photo.jpg" />
                     <h1 style="text-align: center">Contact Me</h1>
                </div>
                <div class="col-md-12>">
                        
                </div>
			</div>
        </div>
        
    </header>
    <nav>
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <ul>
                        <li> <a href="/"> Home </a> </li> | 
                        <li> <a href="/myProgram"> My Programs </a> </li> |  
                        <li> <a href="/workHistory"> Work History </a> </li> |     
                        <li> <a style="text-align: right" href="/contact"> Contact </a> </li>              
                    </ul>
                </div>
            </div>
        </div>
    </nav>
    </div>
    <div class="main">
            <table style="width:100%">
                    <tr id="r0">
                        <td>
                            <p>Name: Ziyi Shi, Jasper Shi</p>
                        </td>
                        
                        <td rowspan="5">
                            <h3>Please do not hesitate to contact me if necessary</h3>
                        </td>
                    </tr>
                    <tr id="r1">
                        <td>
                            <p>Phone Number: 647-879-1740</p>
                        </td>
                    </tr>
                    <tr id="r2">
                            <td>
                                <p>Email: zshi13@myseneca.ca</p>
                            </td>
                    </tr>
                    <tr id="r3">
                            <td>
                                <p>Mailing Address: 22 Sandbourne Crescent North York, ON M2J 3A6</p>
                            </td>
                    </tr>
                    <tr id="r4">
                            <td>
                                <p>School Address: 70 The Pond Rd, North York, ON M3J 3M6</p>
                            </td>
                    </tr>    
                </table>
                
    </div>


     <footer>
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <h2>© 2017 - Ziyi Shi</h2>
                    </div>
                </div>
            </div>
    </footer>
</body>

</html>