input[type=text] {
    width: 130px;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
    background-color: rgba(169, 152, 152, 0.88);
    background-image: url('');
    background-position: 10px 10px; 
    background-repeat: no-repeat;
    padding: 12px 20px 12px 40px;
    -webkit-transition: width 0.4s ease-in-out;
    transition: width 0.4s ease-in-out;
}

input[type=text]:focus {
    width: 100%;
}
header{
    background-image: url("/sky.jpg");
    padding:5px 25px;
}
header h1{
    text-align: left;
    color: #eee;
}
nav{
    background-color: #444;
    padding:10px 40px;
}
nav ul{
list-style-type: none;
padding-left:0px;
margin:0px;
text-align: right;
}

nav ul li{
display:inline-block;
background-color: #444;
text-align: right;
}

nav ul li a{
background-color: #444;
color: #eee;
text-decoration: none;
padding:0 5px;	
font-weight:bold;
text-transform: uppercase;
font-size:16px;
float: right;
}
.circularimg {
border-radius: 50%;
height: 35px;
width: 35px;
min-height: 100px;
min-width: 100px;
margin-bottom: 1000;
margin-left: 10;
margin-right: 90;
display: table-cell;

}

div.header{
    position: fixed; /* Set the navbar to fixed position */
    top: 0; /* Position the navbar at the top of the page */
    width: 100%; /* Full width */
}

div.main{
    margin-top: 250px; /* Add a top margin to avoid content overlay */
}
body{
background-repeat:no-repeat;
background-size:cover;
}

#map{
    width:100%;
    height:300px;
    background:grey

}


footer{
    background-color: #444;
    color: #eee;
    padding:10px;
}

footer h2{
    margin:0px;
    text-transform: uppercase;
    font-size:13px;
    padding:0 5px;	
}

#r1 {
    background-color: rgba(219, 206, 206, 0.85);
}

#r3 {
    background-color: rgba(219, 206, 206, 0.85);
}

a.main{
    text-decoration: none;
    color:black;
}

table {
    border-collapse:collapse;
}
td {
    padding: 8px;
}
article {
    color: black
}

div.container table tr td article a{
    color: black;
} 